@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 

.hero-content {
    background-image: 
        linear-gradient(to top, black, transparent), 
        url('https://skolabaltaci.cz/wp-content/uploads/2024/06/10-1-scaled.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.hero{
    min-height: 90vh;
    display: flex;
}